body {
    background-color: #d10010;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 12px;
    background-image: url('img/bg.png');
}
section 
{
    display: block;   
}
body div.page {
    width: 960px;
    margin:  0 auto;
}
a img 
{
    border: none;
}
a {
    color: inherit;
    text-decoration: none;
}
h2 {
    font-size: 18px;
    color: #f4f4f4;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
h2.nav 
{
    font-family: Verdana;
    font-size: 18px;
    color: #fff2d9;   
    font-weight: bold;
    text-align: left;
    padding: 0 0 0 26px;
}
h2.nav a 
{
    color: #f2c200;   
}
div.line2 
{
    width: 95%;
    margin: 5px auto 20px auto;
    background: url('img/line2.png');
    height: 6px;   
    
}
input
{
    background: url('img/input_bg.png');
    height: 17px;
    font-size: 12px;
    padding: 1px 5px;
    border: 1px #fae4cd solid;
    border-radius: 2px;
    color: #f0f0f0;
}
input[type=submit], input[type=button], a.button
{   
    background: url('img/submit_bg.png');
    height: 21px;
    border: 1px black solid;
    cursor: pointer;
    color: #f0f0f0;
    vertical-align: top;
    
}
a.button 
{
    display: inline-block;
    padding: 2px 9px 0 9px;
    height: 17px; 
}
a.button:hover
{
       
    color: #fff;
    border: 1px #fff solid;
}
input[type=submit]:hover, input[type=button]:hover
{
    color: #fff;
    border: 1px #fff solid;
}

header  {
    
    height:  82px;
    position: relative;
    width: 910px;
    float: right;
    margin: 30px 0 0 0;
    font-size: 18px;
}
div.center
{
    width: 100%;
    text-align: center;   
}
#navBG 
{
    background-image: url('img/header_bg.png');
    position:  absolute;
    width: 100%;
    height: 82px;
    margin-top: 30px;
}
h1#logo {
    position:  absolute;
    left: -195px;
    top: -30px;
    margin:  0;
    padding:  0;
    
}
nav {
    float:  left;
    margin-left: 150px;
}
nav ul { 
    list-style: none;
    margin:  28px 0 0 0;
    padding:  0;
}
nav ul li {
    display: inline-block;
    color: #001aff;
    margin-left:  10px;
}

#main {
    float:  left;
    width:  100%;
    margin-top: 40px;
}

.roundA {
    background-image: url('img/10_bg.png');
    border: 2px #dd000c solid;
    border-radius: 10px;
}


span.gray {
    color: #808080;
}
section.lastActive, section.newestPhotos {
    width: 172px;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 5px;
    padding-top: 3px;
    float: left;
}
section.lastActive h2, section.newestPhotos h2  {
    margin-bottom:-5px;   
}
section.lastActive > div.bg 
{
    padding-bottom: 10px;   
}
img.hrA, img.hrB, hrC, hrD {
    display:  block;
    margin: 5px auto 0 auto;
    width: 139px;
}
hrD  {
    margin: 0 auto;
}
img.hrB {
    width: 406px;
}
div.grayBG, section.grayBG {
    background: #f1e7d3;
    border-radius: 5px;
    padding: 5px;
}
div.user {
    width: 120px;
    margin: 15px auto 0 auto;
}
div.user div  {
    width: 100%;
}
div.user div.bg {
    background-image: url('img/user_bg.png');
    padding-top: 3px;
    color: #fff;
}
div.user div.top {
    background-image: url('img/user_bg_top.png');
    height: 9px;
}
div.user div.bot {
    background-image: url('img/user_bg_bot.png');
    height: 9px;
}
div.user div.bg img  {
    margin-top: 3px;
    opacity: 0.9;
}
div.user div.bg a:hover 
{
 text-decoration: underline;   
}
div.user div.bg a:hover img  {
    margin-top: 3px;
    opacity: 1;
}
section.banner {
    text-align: center;
    width: 100%;
    
}
section.banner img {
    
}

section.homeCenter {
    margin-top: 14px;
    width: 100%; 
    padding-top: 1px;
}
section.searchFriends {
    width: 450px;
    margin: 0 auto 0 auto;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 3px;
}
section.homeCenter > div.bg
{
    padding-top: 18px;   
    padding-bottom: 20px;
}
section.bestPhotos {
    width: 450px;
    margin: 20px auto 0 auto;
    border-radius: 8px;
    text-align: center;
    padding-top: 3px;
}
section.bestPhotos img.hrB {
        
}
section.bestPhotos img.avatar {
    margin: 0 5px 5px 5px;
}
section.bestPhotos img.browse {
    float: right;
    margin-bottom: -20px;
    margin-right: -15px;
}
section.homeCenter h2 {
    padding-top: 2px;
    
}
section.newestPhotos {
    float: left;
    margin-left: 14px;
}
section.newestPhotos > div.bg 
{
    height: 800px;   
}
div.homeCenter {
    width: 558px;
    float: left;
    margin-left: 30px;
    margin-top: 14px;
}
footer {
    margin-top: 10px;
    float: left;
    width: 100%;
    background: #fff3d9;
    height: 27px;
    font-size: 10px;
    color: #808080;
    text-align: center;
    padding-top: 12px;
}
footer span.footerB, span.footerC {
        margin-left: 120px;
}

div.clearer {
    width: 100%;
    clear: both;
    float: none;   
}
.shadowA {
   
}
.shadowA > div.top, .shadowA > div.bot, .shadowA > div.bg {
    width: 186px;
    height: 16px;
}
.shadowA > div.top {
     background: url('img/shadow_a_top.png');
}
.shadowA > div.bot {
     background: url('img/shadow_a_bot.png');
}

.shadowA > div.bg {
    height: auto;
    background: url('img/shadow_a_bg.png');
}

.shadowB {
   
}
.shadowB > div.top, .shadowB > div.bot, .shadowB > div.bg {
    width: 529px;
    margin: 0 auto;
}
.shadowB > div.top {
     background: url('img/shadow_b_top.png');
     height: 18px;
}
.shadowB > div.bot {
     background: url('img/shadow_b_bot.png');
     height: 18px;
}

.shadowB > div.bg {
    height: auto;
    background: url('img/shadow_b_bg.png');
}

.darkRed 
{
    background: #a2000a;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}
div.line 
{
    background: #ba4048;
    height: 1px;
    width: 90%;
    margin: 0 auto;   
}
section.photoList 
{
    margin-bottom: 15px;   
}
section.photoList div.image 
{
    background: #5c0006;
    padding: 3px;
    border: 2px #fff2d9 solid;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    margin-left: 20px;
    margin-top: 5px;
}
section.photoList div.image  img
{
    border: 1px #fff2d9 solid;
    display: block;
}
section.photoList div.image a.info 
{
    position: absolute;
    display: block;
    width: 110px;
    height: 60px;
    bottom:-10px;
    right: -10px;
    background: url('img/info.png') no-repeat;
    background-position: bottom right;
    visibility: hidden;
    opacity: 0.5;
}
section.photoList div.image:hover a.info 
{
    visibility: visible;   
    
}
section.photoList div.image a.info:hover 
{
    visibility: visible;  
    opacity: 0.9;
}

section.photoList div.image a.zoom 
{
    position: absolute;
    display: block;
    width: 110px;
    height: 60px;
    top:-10px;
    left: -10px;
    background: url('img/loupe1.png') no-repeat;
    background-position: top left;
    visibility: hidden;
    opacity: 0.5;
}
section.photoList div.image:hover a.zoom 
{
    visibility: visible;   
    
}
section.photoList div.image a.zoom:hover 
{
    visibility: visible;  
    opacity: 0.9;
}

section.photoList div.imageInfo 
{
    vertical-align: top;
    display: inline-block; 
    line-height: 23px;
    margin-top: 12px;
}
section.photoList div.imageInfo span.left 
{
    font-size: 12px;
    color: #ededed;
    width: 100px;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    
}

section.photoList div.imageInfo span.right 
{
    font-size: 14px;
    font-weight: bold;
    color: #fff2d9;
}
.red 
{
    width: 472px;   
    margin: 0 auto;
}
.red div.top 
{
    height: 12px;
    background: url('img/red_top.png');
    width: 100%;   
}
.red div.bot 
{
    height: 12px;
    background: url('img/red_bot.png');
    width: 100%;   
}
.red div.content 
{
    background: #a2000a;
    width: 100%;   
    
}