@if(Request.IsAuthenticated) {
    <text>Witaj <strong>@Html.ActionLink(User.Identity.Name, "Index", "Account")</strong>!
    [ @Html.ActionLink("Wyloguj!", "LogOff", "Account") ]</text>
}
else
{
    <a href=Account/Facebook>
    <img src='../../Content/themes/base/images/ui-icons_Facebook.png' />
</a>


   
  // @:[@Html.ActionLink("Połącz Z Facebookiem", "Facebook", "Account")]
   
                                                       
   @:[@Html.ActionLink("Zaloguj!", "LogOn", "Account")]
    

   
}

