@{
    ViewBag.Title = "Konto zostało utworzone i połączone z Twoim kontem na facebook.";
}

<h2>Hasło do manualnego logowania</h2>
<p>
    Hasło, dzięki któremu możesz sie u nas zalogować manualnie,
    bez potrzeby użycia facebook'a, zostało wysłane na Twój e-mail.
</p>
