@{
    ViewBag.Title = "Wiadomości";
}

<h2>Wiadomości</h2>

<p>
    @Html.ActionLink("Odebrane", "InBox")
</p>
<p>
    @Html.ActionLink("Wysłane", "OutBox")
</p>
<p>
    @Html.ActionLink("Utwórz wiadomość", "Create")
</p>